<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display blog</title>
</head>
<body>
    <h1>Show Blog</h1>
    <p><%= blog.title %></p>
    <p><%= blog.synops %></p>
    <p><%= blog.body %></p>
    <a href="<%= blog._id%>/edit">Edit</a>
    <br><br>
    <form action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <br>
    <a href="/blogs">Back to the blogs page</a>
</body>
</html>